* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #171717;
    color: white;
}

/*  ----------------------navbar---------------------- */

.navbar {
    width: 100%;
    height: 55px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.logo {
    width: 100px;
    height: 100%;
    background-image: url(Netflix-Logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 3.5%;
}

.nav-buttons h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    font-weight: 500;  
}

.nav-buttons .button1 {
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 0 8px;
    width: 140px;
    height: 35px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
}

.nav-buttons .button2 {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px 0 8px;
    width: 100px;
    height: 35px;
    background-color: transparent;
    color: white;
    border: 1px solid #737373;
    border-radius: 2px;
    cursor: pointer;
}
.nav-buttons {
    display: flex;
    align-items: center;
    margin-right: 3.5%;
}
/* --------------------hero section-------------------- */

.banner {
    background: linear-gradient(90deg, #181818 10%, hsla(0, 0%, 9%, .88) 20%, hsla(0, 0%, 9%, .77) 25%, hsla(0, 0%, 9%, .65) 35%, hsla(0, 0%, 9%, .54) 40%, hsla(0, 0%, 9%, .42) 45%, hsla(0, 0%, 9%, .39) 50%, hsla(0, 0%, 9%, .37) 55%, hsla(0, 0%, 9%, .32) 60%, hsla(0, 0%, 9%, .25) 65%, hsla(0, 0%, 9%, .13) 70%, hsla(0, 0%, 9%, .12) 75%, hsla(0, 0%, 9%, .11) 80%, hsla(0, 0%, 9%, .10) 85%, hsla(0, 0%, 9%, .08) 90%, hsla(0, 0%, 9%, .03) 95%, hsla(0, 0%, 9%, 0)),url("https://occ-0-4857-2186.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABYvcH5XZXrAmpWYoTMa3AtaY7YddNIj_roEK7WK2gVOxl4RJaebRRuAmXtgJYL0C5Xukq3yBXyLuNLtwI-jF6IwzEKV-_79uqLtQ.jpg?r=0a9");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
    
}

.banner-title {
    padding: 15% 0px 0px 80px;
    max-width: 35%;
}

.banner-title img {
    margin-bottom: 50px;
    max-width: 100%;
}

.info{
    color: #8c8c8c;
    font-size: 0.9rem;
    padding-bottom: 20px;
}

.ua {
    border: 1px solid #a3a3a3;
    padding: 3px;
}

.banner-title h2 {
    font-size: 1.5rem;
    padding-bottom:  20px;
}

.banner-title p {
    padding: 10px 0px 20px;
    line-height: 1.2;
}



/* --------------------videos------------------- */
.heading {
    margin: 5% 0px 0px 80px;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
}

.heading span {
    color: #a3a3a3;
}

.video-container {
    height: 400px;
    margin: 2.5% 0px 0px 80px;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

.video-container::-webkit-scrollbar {
    display: none;
}

.teaser img {
    height: 320px;
    width: 520px;
}

.teaser p {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

/* ---------------------release------------------------ */

.title {
    margin: 5px 0px 30px 80px;
}

.release {
    margin: 5px 0px 30px 80px;
    width: 45%;
    line-height: 1.2;
}

.release-info {
    color: #a3a3a3;
}


/* ----------------episodes------------------------ */
.episodes-container {
    width: 96%;
    height: 90vh;
    margin: 0px 0px 0px 5.5%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.episode {
    margin-bottom: 0px;
}

.episodes-card {
    width: 330px;
    height: 48%;
}

.episodes-card img {
    width: 100%;
    height: 60%;
}

.title-info {
    display: grid;
    grid-template-columns: 90% 10%;
}

.episodes-card h2 {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.title-info span {
    color: #a3a3a3;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    line-height: 27px;

}

.episodes-card p {
    max-width: 99%;
    margin-top: 10px;
    color: #a3a3a3;
    font-size: 12px;
}

/* ------------------------more details---------------- */
.more-details {
    width: 96%;
    height: 300px;
    margin: 30px 0px 0px 5.5%;
    display: flex;
    gap: 20px;
}

.details-heading {
    padding: 2.5% 0px 10px 80px;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
}

.more-details .details-card {
    width: 330px;
    margin-right: 50px;
}

.more-details .details-card h4 {
    color: #a3a3a3;
    line-height: 32px;
    font-weight: 500;
}

.more-details .details-card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.more-details .details-card p a  { 
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.more-details .details-card p a:hover {
    text-decoration: underline;
}
