* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 600px;
    background-image: url("background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
}

.main-container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.668);
}

.nav-bar {
    width: 100%;
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.image {
    width: 150px;
    height: 100%;
    margin: 10px 120px; 
}

.image img {
    width: 100%;
    height: 100%;
}

.options {
    margin: 40px 190px;
}

.options button{  
    border: none;
    border-radius: 2px;
    width: 100px;
    height: 40px;
    background-color: #E50914;
    color: white;
    margin: 10px;
}

select {
    width: 150px;
    height: 40px;
    background-color: transparent;
}

option {
    color: #000000;
}




/* .......................................nav bar end................................ */

.center-content {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.matter {
    margin: 80px 0px 0px;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;   
}

.matter h1 {
    font-size: 3.5rem;
    text-align: center;
}

.matter h3{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 100;
    margin: 30px;
}

.label  {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 100;
    margin-bottom: 20px;
}

.matter button {
    background-color: #E50914;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
}

.email {
    width: 400px;
    height: 50px;
    border: 1px solid;
    background-color: #00000094;
    padding-left: 30px;
    font-size: 1.1rem;

}


/* ...............................Homepage Section 1 End........................... */
.Trends {
    margin: 20px 0px 50px 100px; 
}

.Trends h1 {
    margin: 20px;
}


.movies {
    width: 82%;
    margin: 0 120px;
    display: flex;
    gap: 20px; 
    overflow-x: auto; 
    padding: 10px; 
}

.movie {
    flex-shrink: 0;
    width: 200px;
    height: 250px; 
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}

.movie img {
    width: 100%;
    height: 100%;

}

.movie:hover {
    transform: scale(1.05);
    z-index: 2;
}

.movies::-webkit-scrollbar {
    display: none;
}

.title {
    margin: 50px 0px 0px 135px;
}

.channel {
    width: 400px;
    height: 250px;
    background-image: linear-gradient(145deg,rgb(27, 27, 55),rgb(27, 27, 55),rgb(84, 36, 84));
    border-radius: 8px;
}

.channel h2 {
    padding: 20px 0px 0px 20px;
}

.channel p {
    padding: 20px 0px 0px 20px;
}

.frequent h2 {
    margin: 10px 0px 0px 135px;
} 

.question-box {
    width: 81%;
    height: 10%;
    background-color: #333;
    margin: 10px 0px 0px 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.question-box h2 {
    margin-left: 20px;
    padding: 1.2rem;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom p {
    text-align: center;
    margin: 80px 0px 20px 0px;
}

.bottom h1 {
    text-align: center;
    padding: 30px;
}

.bottom input {
    width: 500px;
    height: 50px;
    background-color: #111;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.bottom button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    background-color: #E50914;
}

.footerHead {
    margin: 30px 0px 30px 135px;
}

.footer {
    width: 82%;
    height: 40%;
    margin: 0px 0px 10px 135px;
    display: flex;
    gap: 30px;
    
}

footer .child ul{
    list-style: none;
    padding: 10px 50px;
}

footer .child li {
    margin: 20px;
    
}

footer .child a {
    color: #666;
}

footer select {
    margin: 10px 0px 0px 135px;
}

.last {
    color: #999;
    margin: 30px 0px 100px 135px;
}


