* {
    background-color: #111;
    color: #fff;
}
 
.search {
    background-color: white;
    width: 500px;
    color: #111;
}

.movieNames th center{
    color: #c7c7c7;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: 500;
}

.container tr th img {
    width: 100%;
    height: 140px;
}

footer {
    background-color: #141414;
    padding: 20px 0;
    color: #c7c7c7;
    text-align: center;
    margin-top: 40px;
}

.footer-table {
    width: 80%;
    margin: auto;
}

.footer-table th {
    padding-bottom: 10px;
}

.footer-table td {
    padding: 10px 20px;
    vertical-align: top;
}

.footer-table h2, .footer-table h3 {
    margin: 0;
    color: #fff;
}

.footer-table p {
    margin: 10px 0 0;
    font-size: 14px;
    color: #c7c7c7;
}

.footer-table td p {
    margin-top: 5px;
}

.footer-table p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #c7c7c7;
}
