*{
    background-color: #181818;
    color:#eadede;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    width: 40%;
    height: 50%;
    padding: 120px 0px 50px 2.5%;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
    color: #fff;
    
}

.hero p {
    color: #fff;
    font-size: 19px;
    margin-top: 10px;
    line-height: 1.4;
}

.posters{
    display: flex;
    overflow: auto;
    margin: 1% 1% 1% 2.5%;
    cursor: pointer;
    gap: 10px;
}

.posters a {
    text-decoration: none;
}

.posters::-webkit-scrollbar {
    display: none;
}

.poster {
    margin: 0% 0.2%;
    border-radius: 0.4%;
}

.text {
    padding: 0.8% 0% 0% 2.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
}

.content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: 100;
    padding: 1% 0%;    
}



/* /* ...............................navbar.......................................                                             . */

.navbar {
    width: 100%;
    height: 55px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.logo {
    width: 100px;
    height: 100%;
    background-image: url(Netflix-Logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 35px;
    background-color: #111;
}

.nav-buttons {
    background-color: #111;
    margin-right: 50px;
}

.nav-buttons h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    font-weight: 500;  
}

.nav-buttons .button1 {
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 0 8px;
    width: 140px;
    height: 35px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
}

.button1 a {
    background-color: transparent;
    text-decoration: none;
}

.nav-buttons .button2 {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px 0 8px;
    width: 100px;
    height: 35px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}
.nav-buttons {
    display: flex;
    align-items: center;
}

/* ---------------------------footer------------------------------ */

.paragraph {
    margin: 5% 1% 2% 5.5%;
    color: #737373;
}

.foot {
    display: flex;
    margin: 10px 0px 0px 5.5%;
}

.child p {
    margin-bottom: 15px;
}

.child a{
    color: #737373;
    font-size: 0.8rem;
    text-decoration: none;
}

.child a:hover {
    text-decoration: underline;
}

.child {
    width: 250px;
}

select {
    width: 100px;
    height: 50px;
    background-color: #111;
    margin:20px  5.5%;
}

select option[value="1"] {
    background-image: url("https://tse4.mm.bing.net/th?id=OIP.xXJi1kHMXk0Nr2pCh0Qr1QHaHa&pid=Api&P=0&h=180");
}


