*{
    background-color: hsl(0, 0%, 4%);
    color:#eadede;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    font-size: 1rem;
    font-weight:700;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(2px 2px 2px rgb(203, 206, 46));
    color: hsl(60, 100%, 50%);
}

.banner{
    background-image: url(https://occ-0-7613-3663.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABfKifMxxzLJt7q_b3OcVgOhuI5bHPnJyISd1MRVhZl1NeLid_TrwhdKtpseVDTC0p1nzXNfqMPw70o1tz7reLPjv3D5D3ASF1Sqd.jpg?r=51d&quot;);
    background-size: cover;
    background-position: center center;
    height: 600px;
    max-width: 100%;
    background-repeat: no-repeat;
    color: #fff;
}

.posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 1% 0.5%;
}

.posters::-webkit-scrollbar {
    display: none;
}

.poster {
    margin: 0% 0.2%;
    border-radius: 0.4%;
}

.text {
    padding: 0.8% 0% 0% 0.8%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    padding: 1% 0%;    
}

.bannerInfo {
    width: 500px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.415);
}

.bannerImg {
    width: 200px;
    height: 100px;
    background-image: url("image.png");
    background-size: cover;
    background-color: transparent;
}

.titleInfo {
    background-color: rgba(0, 0, 0, 0.411);
}

.info {
    background-color: transparent;
}

.titleName{
    background-color: transparent;
}

.timeline {
    background-color: transparent;
}

.movie{
    background-color: transparent;
}

.starring {
    background-color: transparent;
}

.cast {
    background-color: transparent;
}

.c-names {
    background-color: transparent;
}

.creators {
    background-color: transparent;
}

