*{
    background-color: hsl(0, 0%, 4%);
    color:#eadede;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 45%;
    height: 50%;
    color: white;
}

.posters{
    display: flex;
    overflow: auto;
    margin: 1% 0.5%;
}

.posters::-webkit-scrollbar {
    display: none;
}

.poster {
    margin: 0% 0.2%;
    border-radius: 0.4%;
}

.text {
    padding: 0.8% 0% 0% 0.8%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    padding: 1% 0%;    
}

.bannerInfo {
    width: 600px;
    height: 100%;
    background: linear-gradient(90deg, #181818 10%, hsla(0, 0%, 9%, .98) 20%, hsla(0, 0%, 9%, .97) 25%, hsla(0, 0%, 9%, .95) 35%, hsla(0, 0%, 9%, .94) 40%, hsla(0, 0%, 9%, .92) 45%, hsla(0, 0%, 9%, .9) 50%, hsla(0, 0%, 9%, .87) 55%, hsla(0, 0%, 9%, .82) 60%, hsla(0, 0%, 9%, .75) 65%, hsla(0, 0%, 9%, .63) 70%, hsla(0, 0%, 9%, .45) 75%, hsla(0, 0%, 9%, .27) 80%, hsla(0, 0%, 9%, .15) 85%, hsla(0, 0%, 9%, .08) 90%, hsla(0, 0%, 9%, .03) 95%, hsla(0, 0%, 9%, 0));;
    padding: 1px;
}

.bannerImg {
    width: 200px;
    height: 100px;
    background-image: url("image.png");
    background-size: cover;
    background-color: transparent;
    margin: 185px 0px 40px 69px;
}


.info {
    background-color: transparent;
    margin-left: 55px;
    font-family: Arial, Helvetica, sans-serif;
}

.titleName{
    background-color: transparent;
    margin: 20px 12px;
}

.timeline {
    background-color: transparent;
    font-weight: lighter;
    font-size: 0.9rem;
    color: #a3a3a3;
    padding: 0px 12px;
}

.ua {
    border: 1px solid #a3a3a3;
    background-color: transparent;
    padding: 3px;
}

.movie{
    background-color: transparent;
    padding: 20px 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

.starring {
    background-color: transparent;
    color: #a3a3a3;
    margin: 12px;
}

.cast {
    background-color: transparent;
}

.c-names {
    background-color: transparent;
}

.creators {
    background-color: transparent;
    color: #a3a3a3;
    margin: 12px;
}



/* /* ...............................navbar.......................................                                             . */

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.nav-logo {
    width: 130px;
    height: 100%;
    
}

.nav-logo img {
    width: 100%;
    height: 100%;
}

.nav-content {
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.nav-content h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

.join {
    width: 100px;
    height: 40px;
    margin-top: -8px;
    background-color: #E50914;
    border: none;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

.sign {
    width: 100px;
    height: 40px;
    margin-top: -8px;
    border: 1px solid;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}